
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
}


html {
  scroll-behavior: smooth;
}


@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

